/* CSS-based navigation - see https://dev.to/fedia/15kb-single-file-wiki-46a1 */
article:not(.index, :target, :has(:target)),
#of_articles:has(> :target) article.index:not(:target) {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
}

article {
    font: 1.25em sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 960px;

    img {
        height: auto;
        max-width: 100%;
    }
}

/* To lower specificity, allowing display:flex to be overridden by a class */
[id="of_editor"] {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font: 1.25em sans-serif;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    #of_menu {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        padding: 0.5rem;
    }

    #of_input {
        border: 0;
        flex: 1;
        outline: none;
        padding: 0.5rem;
        resize: none;
    }
}

body:has(#of_editor:not(.hidden)) {
    overflow: hidden;
}

.of_toolbar {
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0.5rem;
    position: fixed;
    right: 0;
    top: 0;
}

.hidden {
    display: none;
}

pre,
code {
    background-color: #e0e0e0;
}

pre {
    padding: 0.5em;
    overflow-x: auto;
    border: 1px solid #bbb;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    padding: 0.1em 0.4em;
    white-space: nowrap;
}
