/* Avoid FOUS - Flash Of Unstyled Content */
html {
    visibility: hidden;
    animation: fast-fade-in 1ms ease-in forwards;
}

@keyframes fast-fade-in {
    to {
        visibility: visible;
    }
}

/* Sidebar colors change based on if there are changes or if the content is
 * automatically saving. */
:root {
    --of-sidebar-color: #ccf;
    --of-sidebar-section-color: #aae;
    --of-sidebar-hover: #def;
    --of-toolbar-height: 35px;
    --of-article-top-margin: calc(var(--of-toolbar-height) + 27px);
}

body.of-autosave-flag,
body.of-autoput-flag {
    --of-sidebar-color: #cfc;
    --of-sidebar-section-color: #aea;
    --of-sidebar-hover: #beb;
}

body.of-dirty-flag {
    --of-sidebar-color: #fcc;
    --of-sidebar-section-color: #eaa;
    --of-sidebar-hover: #fed;
}

/* CSS-based navigation - https://dev.to/fedia/15kb-single-file-wiki-46a1 */
article {
    display: none;
    margin: var(--of-article-top-margin) auto 0;
    max-width: 960px;
    padding: 0 0.25em;
    scroll-margin-top: var(--of-article-top-margin);

    /* Restrict images so they fit in the article */
    img {
        height: auto;
        max-width: 100%;
    }
}

article:target,
.of-articles:not(:has(> :target)) > .index {
    display: block;
}

/* Make animations easier */
:root {
    interpolate-size: allow-keywords;
}

/* Size content so 100% includes borders */
* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    font: 1.25em sans-serif;
    line-height: 1.5;
}

.of-editor {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font: 1.25em sans-serif;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.of-menu {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem;
}

.of-input {
    border: 0;
    flex: 1;
    outline: none;
    padding: 0.5rem;
    resize: none;
}

/* When editing, hide the scrollbar */
body.of-edit-flag {
    overflow: hidden;
}

.of-toolbar {
    align-items: center;
    background-color: #fefefe;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 0.5rem;
    height: var(--of-toolbar-height);
    justify-content: space-between;
    left: 0;
    padding: 0.5rem;
    width: 100%;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;

    a,
    button {
        pointer-events: all;
    }
}

.of-toolbar-spacer {
    pointer-events: none !important;
    visibility: hidden;
}

.of-toolbar-title {
    flex: 1;
    font-size: 1.3em;
    font-weight: bold;
    min-width: 0;
    text-align: center;

    a {
        color: inherit;
        display: block;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.of-toolbar-spacer,
.of-edit {
    flex: none;
}

.of-sidebar {
    display: flex;
    position: fixed;
    top: 0;
    align-items: flex-start;
    left: 0;
    height: 100%;
    transform: translateX(calc(-100% + 50px));
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:has(#of-sidebar-toggle:checked) {
        /* Use transform for smooth animation */
        transform: translateX(0);
    }
}

/* Clean up pages when printed */
@media print {
    article {
        margin-top: 0;
        scroll-margin-top: 0;
    }

    .of-toolbar,
    .of-sidebar {
        display: none;
    }
}

/* Hidden input that is used for CSS-based opening and closing of the sidebar
 * panel. */
#of-sidebar-toggle {
    display: none;

    &:checked ~ label {
        /* Animated burger menu bars - https://codepen.io/anon/pen/OrxKWb */
        .of-burger-top {
            transform: translateY(10.3px) rotate(135deg);
        }

        .of-burger-mid {
            transform: scale(0);
        }

        .of-burger-bot {
            transform: translateY(-10.3px) rotate(-135deg);
        }
    }
}

.of-sidebar-wrap {
    background-color: var(--of-sidebar-color);
    display: flex;
    flex-direction: column;
    max-width: calc(80vw - 50px);
    height: 100%;
    overflow: auto;
    direction: rtl;
}

.of-sidebar-bar {
    /* Scrollbar on the left */
    direction: ltr;

    summary {
        margin: 0.25em 0;
    }

    details {
        > div {
            line-height: 1.25;

            /* Hide margins for first and last child so content is closer to
             * the expandable section label. */
            > :first-child {
                margin-top: 0;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }

        summary {
            list-style-type: none;
            cursor: pointer;
            font-weight: bold;
            background-color: var(--of-sidebar-section-color);
            padding: 0 0.2em;
            user-select: none;

            /* Make icons a consistent size so the text labels line up. */
            .of-icon {
                display: inline-block;
                width: 1.25em;
                text-align: center;
                font-variant-emoji: text;
                font-family: sans-serif, monospace;
            }
        }
    }
}

.of-sidebar-handle {
    background-color: var(--of-sidebar-color);
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    padding: 12px 8px;
    cursor: pointer;
    gap: 5.5px;
    border-bottom-right-radius: 10px;
}

.of-hamburger-bar {
    background-color: #333;
    border-radius: 3px;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

code {
    white-space: pre-wrap;
}

pre code {
    white-space: pre;
}

pre,
code {
    background-color: #e0e0e0;
}

pre {
    padding: 0.5em;
    overflow-x: auto;
    border: 1px solid #bbb;
}

/* Keyboard shortcuts */
kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    padding: 0.1em 0.4em;
    white-space: nowrap;
}

/* Animate the content open/close in the sidebar's accordion */
::details-content {
    transition:
        block-size 0.3s ease-out,
        content-visibility 0.3s allow-discrete;
    block-size: 0;
    overflow: clip;
    content-visibility: visible !important;
    padding: 0 0.4em;
}

details[open]::details-content {
    block-size: auto;
}

@starting-style {
    details[open]::details-content {
        block-size: 0;
    }
}

blockquote {
    padding: 0 1em;
    color: #656d76;
    border-left: 0.25em solid #d0d7de;
    margin: 0 0 16px 0;
}

.of-notice {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    text-align: center;
    background-color: var(--of-sidebar-section-color);
}

table {
    border-collapse: collapse;

    th,
    td {
        padding: 4px 10px;
        border: 1px solid #cdd;
    }

    th {
        font-weight: 600;
        background-color: #bdd;
    }

    tr:nth-child(even) {
        background-color: #eef;
    }
}

.of-overview,
.of-index {
    a:hover {
        background-color: var(--of-sidebar-hover);
    }

    ul,
    ol {
        padding-inline-start: 1em;
    }
}

/* Toaster message when save is successful */
.of-saved {
    position: fixed;
    right: 0.4em;
    bottom: 0.4em;
    padding: 0.6em 1em;
    border: 2px solid #0c0;
    background-color: #cfc;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.of-saved-flag .of-saved {
    opacity: 1;
}

/* Task lists - hide the bullets */
li:has(> input) {
    list-style: none;
}

/* Using flags to show or hide content */
.of-autoput-flag .of-autoput-off,
.of-autosave-flag .of-autosave-off,
.of-broken-flag .of-broken-off,
.of-dirty-flag .of-dirty-off,
.of-edit-flag .of-edit-off,
.of-js-flag .of-js-off,
.of-saved-flag .of-saved-off,
.of-webdav-flag .of-webdav-off,
body:not(.of-autoput-flag) .of-autoput-on,
body:not(.of-autosave-flag) .of-autosave-on,
body:not(.of-broken-flag) .of-broken-on,
body:not(.of-dirty-flag) .of-dirty-on,
body:not(.of-edit-flag) .of-edit-on,
body:not(.of-js-flag) .of-js-on,
body:not(.of-saved-flag) .of-saved-on,
body:not(.of-webdav-flag) .of-webdav-on {
    display: none;
}

/* If in dark mode, apply a filter to make the page dark. */
@media screen and (prefers-color-scheme: dark) {
    html {
        filter: invert(1) hue-rotate(180deg);
    }
}

/* Limit a table's width and scroll if necessary */
article table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
}
