/* Avoid FOUS - Flash Of Unstyled Content */
html {
    visibility: hidden;
    animation: fast-fade-in 1ms ease-in forwards;
}

@keyframes fast-fade-in {
    to {
        visibility: visible;
    }
}

/* CSS-based navigation - see https://dev.to/fedia/15kb-single-file-wiki-46a1 */
article {
    display: none;
    padding: 0 0.25em;
}

article:target,
.of_articles:not(:has(> :target)) > .index {
    display: block;
}

:root {
    interpolate-size: allow-keywords;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    font: 1.25em sans-serif;
    line-height: 1.5;
}

article {
    margin: 0 auto;
    max-width: 960px;

    img {
        height: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 1060px) {
    article {
        margin-top: 50px;
        scroll-margin-top: 50px;
    }
}

.of_editor {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font: 1.25em sans-serif;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.of_menu {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem;
}

.of_input {
    border: 0;
    flex: 1;
    outline: none;
    padding: 0.5rem;
    resize: none;
}

body.of_edit_flag {
    overflow: hidden;
}

.of_toolbar {
    display: flex;
    justify-content: flex-end;
    left: 0;
    margin: 0.5rem;
    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;

    button {
        pointer-events: all;
    }
}

.of_sidebar {
    display: flex;
    position: fixed;
    top: 0;
    align-items: flex-start;
    left: 0;
    height: 100vh;
    transform: translateX(calc(-100% + 50px));
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:has(#of_sidebar_toggle:checked) {
        /* Use transform for smooth animation */
        transform: translateX(0);
    }
}

@media print {
    .of_toolbar,
    .of_sidebar {
        display: none;
    }
}

#of_sidebar_toggle {
    display: none;

    &:checked ~ label {
        /* https://codepen.io/anon/pen/OrxKWb */
        .of_burger_top {
            transform: translateY(10.3px) rotate(135deg);
        }

        .of_burger_mid {
            transform: scale(0);
        }

        .of_burger_bot {
            transform: translateY(-10.3px) rotate(-135deg);
        }
    }
}

:root {
    --of-sidebar-color: #ccf;
    --of-sidebar-section-color: #aae;
}

body.of_autosave_flag,
body.of_autoput_flag {
    --of-sidebar-color: #cfc;
    --of-sidebar-section-color: #aea;
}

body.of_dirty_flag {
    --of-sidebar-color: #fcc;
    --of-sidebar-section-color: #eaa;
}

.of_sidebar_wrap {
    background-color: var(--of-sidebar-color);
    display: flex;
    flex-direction: column;
    max-width: calc(80vw - 50px);
    height: 100%;
    overflow: auto;
    direction: rtl;
}

.of_title {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 0.25em;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.of_sidebar_bar {
    direction: ltr;

    details {
        margin: 0.25em 0;

        > div > :first-child {
            margin-top: 0;
        }

        > div > :last-child {
            margin-bottom: 0;
        }

        summary {
            list-style-type: none;
            cursor: pointer;
            font-weight: bold;
            background-color: var(--of-sidebar-section-color);
            padding: 0 0.2em;
            user-select: none;

            .of_icon {
                display: inline-block;
                width: 1.25em;
                text-align: center;
            }
        }
    }
}

.of_sidebar_handle {
    background-color: var(--of-sidebar-color);
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    padding: 12px 8px;
    cursor: pointer;
    gap: 5.5px;
    border-bottom-right-radius: 10px;
}

.of_hamburger_bar {
    background-color: #333;
    border-radius: 3px;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.hidden {
    display: none;
}

code {
    white-space: pre-wrap;
}

pre code {
    white-space: pre;
}

pre,
code {
    background-color: #e0e0e0;
}

pre {
    padding: 0.5em;
    overflow-x: auto;
    border: 1px solid #bbb;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    padding: 0.1em 0.4em;
    white-space: nowrap;
}

::details-content {
    transition:
        block-size 0.3s ease-out,
        content-visibility 0.3s allow-discrete;
    block-size: 0;
    overflow: clip;
    content-visibility: visible !important;
    padding: 0 0.4em;
}

details[open]::details-content {
    block-size: auto;
}

@starting-style {
    details[open]::details-content {
        block-size: 0;
    }
}

blockquote {
    padding: 0 1em;
    color: #656d76;
    border-left: 0.25em solid #d0d7de;
    margin: 0 0 16px 0;
}

.of_notice {
    padding: 0.5em;
    margin: 0.5em 0.5em;
    text-align: center;
    background-color: var(--of-sidebar-section-color);
}

body:not(.of_js_flag) .of_js_on,
.of_js_flag .of_js_off,
body:not(.of_webdav_flag) .of_webdav_on,
.of_webdav_flag .of_webdav_off,
body:not(.of_edit_flag) .of_edit_on,
.of_edit_flag .of_edit_off,
body:not(.of_dirty_flag) .of_dirty_on,
.of_dirty_flag .of_dirty_off,
body:not(.of_autosave_flag) .of_autosave_on,
.of_autosave_flag .of_autosave_off,
body:not(.of_autoput_flag) .of_autoput_on,
.of_autoput_flag .of_autoput_off {
    display: none;
}

table {
    border-collapse: collapse;

    th,
    td {
        padding: 4px 10px;
        border: 1px solid #cdd;
    }

    th {
        font-weight: 600;
        background-color: #bdd;
    }

    tr:nth-child(even) {
        background-color: #eef;
    }
}

.of_overview,
.of_index {
    a:hover {
        background-color: #def;
    }

    ul,
    ol {
        padding-inline-start: 1em;
    }
}
